<ul >
  {{#events}}
    <li>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <p>likes: {{ likes }}</p>
        <button onclick="like()">like</button>
    </li>
  {{/events}}
</ul>
<script>
    const like = () => {
        
    }
</script>